<div class="container mt-4">
  <div class="card">
      <div class="card-body">
          <h4 class="card-title text-center mb-4">View Employee :</h4>
          <div>
              <div class="form-group row ">
                  <label class="col-sm-4 col-form-label"><b> First Name:</b></label>
                  <div class="col-sm-8">
                      <span class="form-control">{{ employee.firstName }}</span>
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-sm-4 col-form-label"><b>Last Name:</b></label>
                  <div class="col-sm-8">
                      <span class="form-control">{{ employee.lastName }}</span>
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-sm-4 col-form-label"><b>Email Id:</b></label>
                  <div class="col-sm-8">
                      <span class="form-control">{{ employee.emailId }}</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
