<div class="row text-center mt-3">
  <h2>Employee List:</h2>
</div>

<table class="table table-striped table-bordered mt-5 container">
  <thead>
    <tr>
      <th> First Name</th>
      <th> Last Name </th>
      <th> Email Id</th>
      <th> Actions </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.firstName}}</td>
      <td>{{ employee.lastName}}</td>
      <td>{{ employee.emailId}}</td>
      <td >
        <button (click)="updateEmploye(employee.id)" class="update">Update</button>
        <button (click)="deleteEmployee(employee.id)" class="delete">Delete</button>
        <button (click)="employeeDetails(employee.id)" class="view">View</button>

      </td>

    </tr>
  </tbody>

</table>









<!-- https://www.javaguides.net/2021/08/angular-crud-example.html -->
