<div class="row">
  <div class="card col-md-6 offset-md-3">
    <div class="row">
      <h3 class="text-center mt-2 mb-2">Update Employee</h3>
      <hr />
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label >First Name:</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="employee.firstName" name="firstName">
          </div>

          <div class="form-group mt-3 mb-4">
            <label >Last Name:</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="employee.lastName" name="lastName">
          </div>

          <div class="form-group mt-3 mb-4">
            <label >Email Id:</label>
            <input type="text" class="form-control" id="emailId" [(ngModel)]="employee.emailId" name="emailId">
          </div>

          <div class="d-flex justify-content-center mt-5 mb-3">
            <button class="btn btn-info text-white" type="submit">Submit</button>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>
